---
BasedOnStyle: Chromium
IndentWidth: '4'
ColumnLimit: 160
BreakConstructorInitializers: AfterColon
#AllowShortBlocksOnASingleLine: Always
#AllowShortFunctionsOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
#AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignAfterOpenBracket: AlwaysBreak

BreakBeforeBraces: Stroustrup
