psz1d
psz2d
psz3d
cusz
huff

*.sza
*.szx
*.b8
*.b16
*.b32

*.yamp
*.hbyte
*.hmeta
*.canon
*.outlier
*.BN

Makefile

*.canonized
*.lean_cb

cmake-build-debug-t7600
src/future
src/huffre

data/4lossless

cmake-build-debug
cmake-build-release
build/
CMakeFiles

src/*.dylib
src/*.o

*.swp
.DS_Store

.idea/
.vs/
.vscode/

a.out
tags
*.o
data/*.sz
data/*.out
