psz1d
psz2d
psz3d
cusz
huff

*.szx
*.dh
*.hmeta
*.cHcb
*outlier
*outlier_new
*.b8
*.b16
*.b32

data/4lossless

cmake-build-debug
cmake-build-release

src/*.dylib
src/*.o

*.swp
.DS_Store

.idea/
.vs/
.vscode/
