*.szx
*.yamp
*.hbyte
*.hmeta
*.canon
*.outlier
*.BN
*.lean_cb

cusz

data/*.sz
data/*.out

Makefile

cmake-build-debug-t7600
cmake-build-debug
cmake-build-release
build/
CMakeFiles

src/future
src/huffre

data/4lossless

src/*.dylib
src/*.o

*.swp
.DS_Store
.cache

.idea/
.vs/
.vscode/

a.out
tags
*.o
